.programs-list{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.program-card {
    
    background-color: white;
    color: navy;
    width: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.program-card:hover {
    transform: scale(1.05);
}

.program-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.program-content {
    padding: 16px;
}

.program-name {
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: orange;
}

.program-details {
    font-size: 1rem;
    margin-bottom: 4px;
}

.program-time, .program-date {
    color: lightgray;
}